.floatingActionButton{
    position: fixed; 
    bottom:-100%;
    right:2rem;
    background:var(--primaryColor);
    width:5rem;
    height:5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    clip-path: circle(50% at 50% 50%);
    transition: bottom 0.7s ease;
    cursor:pointer;
    z-index: 5;
}
.floatingActionButton:hover{
    opacity: .9;
}

.floatingActionButton i {
    font-size: 2.5rem;
    color: #fff;
}