<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Blogs | AnimaLovers</title>
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/constants.css">
    <link rel="stylesheet" href="../styles/floatingActionButton.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/blogs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="floatingActionButton">
        <i class="fas fa-arrow-up"></i>
      </div>
      <svg class="waveUp1" viewBox="0 60 760 350" preserveAspectRatio="none"><path d="M-0.27,144.56 C72.51,101.14 280.76,159.38 173.53,-0.48 L256.49,0.50 L0.00,0.00 Z" style="fill: #ff9786;"></path></svg>
      <svg class="waveUp2" viewBox="40 -10 550 150" preserveAspectRatio="none"><path d="M-2.54,44.89 C89.45,37.00 216.98,68.58 172.96,-5.42 L172.40,-4.44 L0.00,0.00 Z" style="fill: #FFDC7C;"></path></svg>
        <Header id="header">
            <div class="navigationBar">
                <div class="logoContainer">
                    <a href="./home_page.html"><img src="../images/logo.svg" alt="Logo" class="logo"></a>
                </div>
                <nav>
                    <li class='linkContainer'>
                        <a  href="./home_page.html" class="link ">Home</a>
                        <span></span>
                    </li>
                    <li class='linkContainer '>
                        <a class="link" >Blogs</a>
                        <span class="active"></span>
                    </li>
                    <li class='linkContainer'>
                        <a class="link" href="./pets.html">Pets</a>
                        <span></span>
                    </li>
                </nav>
            </div>
        </div>
    </Header>
    <div id="mainContainer">
        <div id="listOfBlogs"></div>
        <div class="descriptionBlogContainer">
            <p>You haven't selected anything yet. </p>
            <i class="far fa-hand-pointer"></i>
        </div>
    </div>
    <svg class="waveDown3" viewBox="0 0 500 150" preserveAspectRatio="none" ><path d="M501.41,76.47 C454.57,72.53 488.42,140.63 430.30,150.48 L501.41,150.48 L501.41,87.33 Z" style="fill: #ff9786;"></path></svg>
    <svg class="waveDown4" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M501.41,114.95 C464.73,113.97 429.17,112.00 402.09,150.48 L500.00,150.00 L500.27,116.94 Z" style="fill: #FFDC7C;"></path></svg>
    <script src="../scripts/floatingActionButton.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/blogs.js"></script>

</body>


</html>