<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/constants.css">
    <link rel="stylesheet" href="../styles/home_page.css">
    <title>Home</title>
</head>
<body>
    <Header>
        <div class="navigationBar">
            <div class="LogoContainer">
                <!--<img src="../images/logo.png" alt="Logo" class="logo">-->
                <h1 class="logo">
                    AnimaLovers
                </h1>
            </div>
    
            <nav>
                <li class='linkContainer separator'>
                    <a class="link active" href="/">Home</a>
                </li>
                <li class='linkContainer separator'>
                    <a class="link" href="/animal-cares">Animal cares</a>
                </li>
                <li class='linkContainer'>
                    <a class="link" href="/pets">Pets</a>
                </li>
            </nav>
        </div>
    </Header>
    <main>
        <!--To test the header scroll event-->
       <!--  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fugit eum consequatur maiores atque! Ducimus, reprehenderit iste maiores perspiciatis eligendi, asperiores facere odio repellat dignissimos veritatis omnis a ipsam vero?
        Quaerat reiciendis, sequi harum eveniet doloribus impedit, sint sapiente laboriosam quam porro praesentium modi incidunt, repellendus odit sunt natus ad. Obcaecati neque, iste dolorem quidem eum sed quis dolorum ipsam?
        Nostrum nesciunt quam pariatur tempora cumque deserunt sunt magni facilis consectetur. Inventore voluptatibus modi atque consequatur corporis ut quae vel cumque impedit commodi sunt earum eius nulla nesciunt, libero tempora.
        Tempora reprehenderit repudiandae soluta velit explicabo odio sint quia ipsum quidem nostrum ut cupiditate modi consectetur nihil magnam, animi quis cumque doloribus! Commodi officiis nisi consectetur eius expedita facere illum.
        Aliquid, pariatur odio? Aperiam quos sed rerum commodi, numquam delectus beatae, dolores eius voluptatibus eveniet nisi dicta. Quasi, quaerat ab molestiae nemo voluptatibus dicta consequatur perspiciatis doloribus cupiditate atque velit?
        Illum, provident repudiandae? Quas harum quam aspernatur veritatis quo maiores minus corrupti repellendus sapiente cum. Aut exercitationem est enim cumque illum hic temporibus sint libero debitis adipisci, totam corporis sapiente.
        Exercitationem pariatur tenetur soluta quo est praesentium ea illum ratione, animi atque iste eveniet omnis similique ab? Doloremque porro vitae nostrum, aut at optio dignissimos deserunt neque alias, hic nemo.
        Quibusdam consequatur repellendus voluptatem nihil, saepe laborum corrupti! Cupiditate obcaecati saepe est eligendi magnam molestiae ad, voluptatibus adipisci dignissimos in debitis soluta quaerat, deserunt error totam laudantium cumque, nam mollitia!
        Quia odit consectetur dolore cumque in quod voluptas? Ad suscipit sunt voluptatibus maxime tempore necessitatibus. Odio quas modi asperiores dolore animi corrupti, iusto quae voluptatum explicabo, ipsam, omnis recusandae. Libero.
        Omnis, voluptatibus consequuntur! Incidunt velit ratione ea nesciunt maxime rem. Corrupti officia asperiores fugit autem accusantium aliquid optio consectetur, distinctio quidem modi animi necessitatibus quis placeat voluptates vel, magnam voluptas?
        Minus praesentium ducimus vel molestiae enim. Nam beatae tempore voluptatem cumque et qui aspernatur suscipit! Dolore, ad! Iusto iste ab eius error fuga esse voluptatum corporis vel, neque asperiores culpa!
        Delectus libero nostrum voluptatum assumenda rem ad dolores veniam sunt hic. Consectetur veniam voluptatibus error modi labore animi ab ad deserunt omnis minus quae quod asperiores similique, fugit maiores adipisci.
        Distinctio, mollitia? Reprehenderit nostrum in labore dolores doloribus minima perspiciatis praesentium. Officiis fuga harum in facilis quibusdam ipsam cum rem quasi ducimus itaque neque cupiditate, labore numquam. Mollitia, provident ratione!
        Accusamus sed ut quibusdam debitis unde tempore iure nisi aperiam doloremque facilis autem nam enim corrupti tenetur, minima esse laudantium quam dolores, est accusantium eos! Doloremque labore quas error. Velit!
        Voluptates magnam similique sequi tenetur soluta est exercitationem odio. Voluptatem, tempore corporis! Eveniet debitis nulla animi sint molestiae tenetur consectetur quam, facere nostrum deserunt nam alias eum. Deleniti, esse deserunt?
        Error modi dolor amet illum odit quasi. Consequatur repellendus, voluptatibus dolorem veritatis voluptatum explicabo sequi sunt! Consectetur quos nemo omnis quae eos ea sunt doloribus iure, veniam maxime perferendis adipisci?
        Dicta perspiciatis unde et, nobis cupiditate ex dolores, iste molestiae reiciendis voluptates blanditiis ea! Minima soluta at aperiam doloremque quam nihil quaerat error distinctio aliquam. Ab eum ducimus sunt voluptatum.
        Doloremque ea error quia possimus! Inventore aliquam earum voluptatem incidunt provident, fugiat nesciunt vero hic ex quidem animi quam? Cupiditate earum rerum facere nulla minima obcaecati soluta vitae, quis minus!
        Quisquam, nam. Doloribus assumenda optio dicta minima quidem. Nobis, nisi dolorem! Sit sunt consequatur ut quae possimus rem sapiente, aliquam natus assumenda iure. Molestiae amet dolor, dignissimos distinctio quas iusto!
        Corporis modi ex totam ad fugit beatae minima voluptatibus nisi odit dicta, error distinctio similique vitae velit, vero nulla autem officiis. Quasi recusandae, laborum nostrum voluptatem asperiores maxime debitis quae!
        Consequuntur id nemo iste voluptates recusandae aspernatur itaque, optio ullam totam natus et voluptate, commodi pariatur saepe. Iure ea ab, in minus officia ratione! Odio nostrum eius praesentium corporis numquam.
        Nobis voluptatibus, accusantium pariatur ipsa incidunt vitae mollitia in ab repellendus doloribus voluptatem asperiores ut aspernatur dicta quia tempora rem eligendi veritatis explicabo unde nihil accusamus tempore? Aperiam, fuga aliquam!
        Inventore optio nulla officiis eum dolores corporis corrupti ex enim a. Odit eius deserunt voluptatum minima reiciendis, beatae ipsum quasi non numquam voluptate ab recusandae optio perferendis itaque dolores dolor.
        Et explicabo, dolores reprehenderit nemo maiores ullam! Suscipit, eaque quidem voluptatibus tenetur beatae sapiente consequuntur commodi, voluptatum nisi aperiam corporis doloremque, quis rem! Incidunt ducimus labore, expedita reiciendis enim delectus.
        Est ex doloremque quisquam minus voluptates, quibusdam eos qui beatae laborum sapiente fuga aperiam velit. Molestias totam dolorem ratione mollitia maxime excepturi! Ratione, illo tenetur. Fugit iusto nihil at autem.
        Quidem accusantium amet dolorem nemo modi atque sint est adipisci pariatur. Minima atque reprehenderit impedit laboriosam voluptatum ducimus pariatur saepe ullam rerum aperiam officiis dolorum corrupti id, earum cupiditate vitae.
        Quae, eum excepturi animi, facere vitae laudantium illo, eveniet enim ullam repellat deleniti asperiores amet reprehenderit! In labore numquam voluptatibus nisi obcaecati, repudiandae eligendi inventore! Autem quos necessitatibus consequuntur quis.
        Ut dolorem expedita qui dolore accusantium sit, explicabo error vero temporibus necessitatibus adipisci corrupti, pariatur veniam magni autem unde rem. Recusandae consequuntur minima eligendi laudantium. Quisquam voluptas delectus id perferendis!
        Aspernatur pariatur molestiae earum distinctio. Quas alias quidem atque. -->
    </main>
    <script src="../scripts/home_page.js"></script>
</body>
</html>