<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/constants.css">
    <link rel="stylesheet" href="../styles/floatingActionButton.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/home_page.css">
    <title>Home | AnimaLovers</title>
</head>
<body>
  <div class="floatingActionButton">
    <i class="fas fa-arrow-up"></i>
  </div>
    <Header id="header">
        <div class="navigationBar">
            <div class="logoContainer">
                <img src="../images/logo.svg" alt="Logo" class="logo">
            </div>
            <nav>
                <li class='linkContainer'>
                    <a class="link ">Home</a>
                    <span class="active"></span>
                </li>
                <li class='linkContainer separator'>
                    <a class="link" href="./blogs.html">Blogs</a>
                </li>
                <li class='linkContainer'>
                    <a class="link" href="./pets.html">Pets</a>
                    <span></span>
                </li>
            </nav>
        </div>

    </header>

    <script src="../scripts/floatingActionButton.js"></script>
    <script src="../scripts/home_page.js"></script>
</body>
</html>

