<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/constants.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/home_page.css">
    <title>Home | AnimaLovers</title>
</head>
<body>
    <Header>
        <div class="navigationBar">
            <div class="LogoContainer">
                <!--<img src="../images/logo.png" alt="Logo" class="logo">-->
                <h1 class="logo">
                    AnimaLovers
                </h1>
            </div>
            <nav>
                <li class='linkContainer separator'>
                    <a class="link active">Home</a>
                </li>
                <li class='linkContainer separator'>
                    <a class="link" href="./animal-care.html">Animal care</a>
                </li>
                <li class='linkContainer'>
                    <a class="link" href="./pets.hmtl">Pets</a>
                </li>
            </nav>
        </div>

    </header>


    <section class="mainContent">
      <main class="mainContentContainer">
        <aside class="imageContainer">
          <img src="../images/cat.png" alt="Cat Image" />
          
        </aside>
        <article class="content">
            <p class="textOfContent">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias
              delectus quasi voluptatum. Optio debitis unde quos mollitia
              placeat na.
            </p>
            <a class="btn" href="./pets.html"><i class="fas fa-paw"></i>Let's adopt </a>
          </div>
          
        </article>
      </main>
      <div class="iconButtonContainer">
        <i onclick="slideDown()" class="fas fa-arrow-circle-down"></i>     
     </div>
     
    </section>
    <section id="another-section">
        
    </section>

    <script src="../scripts/home_page.js"></script>
    <script src="../scripts/header.js"></script>
</body>
</html>

