<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets | AnimaLovers</title>
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/constants.css">
    <link rel="stylesheet" href="../styles/floatingActionButton.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/pets.css">
</head>
<body>
    <div class="floatingActionButton">
        <i class="fas fa-arrow-up"></i>
      </div>
      <svg class="waveUp1" viewBox="0 60 760 350" preserveAspectRatio="none"><path d="M-0.27,144.56 C72.51,101.14 280.76,159.38 173.53,-0.48 L256.49,0.50 L0.00,0.00 Z" style="fill: #ff9786;"></path></svg>
      <svg class="waveUp2" viewBox="40 -10 550 150" preserveAspectRatio="none"><path d="M-2.54,44.89 C89.45,37.00 216.98,68.58 172.96,-5.42 L172.40,-4.44 L0.00,0.00 Z" style="fill: #FFDC7C;"></path></svg>
        <Header id="header">
            <div class="navigationBar">
                <div class="logoContainer">
                    <a href="./home_page.html"><img src="../images/logo.svg" alt="Logo" class="logo"></a>
                </div>
                <nav>
                    <li class='linkContainer'>
                        <a href="./home_page.html" class="link ">Home</a>
                        <span ></span>
                    </li>
                    <li class='linkContainer '>
                        <a class="link" href="./blogs.html">Blogs</a>
                        <span ></span>
                    </li>
                    <li class='linkContainer'>
                        <a class="link" >Pets</a>
                        <span class="active"></span>
                    </li>
                </nav>
            </div>
    
        </header>
    <script src="../scripts/floatingActionButton.js"></script>
</body>
</html>