*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Roboto;
}

body::-webkit-scrollbar-thumb{
    background: #888;
}

body::-webkit-scrollbar{
    width: 8.5px;
}

html{
    font-size: 62.5%;
}

 :root{
    --primaryColor: #FDDA80;
    --secondaryColor: #E6964A;
    --primaryTextColor:#222222 ;
    --secondaryTextColor:#6C563F ;
} 
html{
    font-size: 62.5%;
}
.active{
    color:var(--secondaryColor) !important;
}