 
 *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Roboto;
}

 :root{
    --primaryColor: #FDDA80;
    --secondaryColor: #E6964A;
    --primaryTextColor:#222222 ;
    --secondaryTextColor:#6C563F ;
} 
html{
    font-size: 62.5%;
}
.active{
    color:var(--secondaryColor) !important;
}