*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Open Sans;
}


body::-webkit-scrollbar-thumb{
    background: #888;
}

body::-webkit-scrollbar{
    width: 8.5px;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
 :root{
    --primaryColor: #ff9786;
    --secondaryColor: #FFDC7C;
    --primaryTextColor:#ffffff ;
    --secondaryTextColor:#6C563F ;
    --baseColor: rgb(43, 38, 38);
} 
html{
    font-size: 62.5%;
}
.active{
    background:var(--secondaryColor) !important;
}
