
header{
    width: 100%;
    background:#fff;
    transition:box-shadow 0.5s ease;
    top:0;
}
.shadow{
    box-shadow: 0px 0px 6px 1px black;
}
.logo{
    font-size: 2.8rem;
    color:var(--primaryTextColor);
    font-weight: normal;
}
.navigationBar{
    width:95%;
    height:10vh;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.linkContainer{
    display:inline-block;
    padding: 0em .5em 0em .6em;
    
}
.separator{
    border-right: 1px solid var(--primaryTextColor);
}

.link{
    font-size: 2rem;
    color:var(--primaryTextColor);
    text-decoration: none;
    transition:.3s color ease;
}
.link:hover{
    color:var(--secondaryColor) ;

}

